{{.LayoutContent}}
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <input type="text" name="id" value="{{$.info.Id}}" hidden>
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>管理员
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" required="" lay-verify="required"
                           autocomplete="off" class="layui-input layui-disabled" value="{{$.info.Name}}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>等级</label>
                <div class="layui-input-inline">
                    <select  name="grade" class="grade" lay-filter="grade" lay-verify="required">
                        <option value="">请选择管理员等级</option>
                        {{range $i, $v := .adminLevelMap}}
                            <option value="{{$i}}" {{if eq $i $.info.Grade}} selected {{end}}>{{$v}}</option>
                        {{end}}
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>状态</label>
                <div class="layui-input-block">
                    {{range $i, $v := .statusMap}}
                        <input type="radio" name="status" lay-skin="primary" title="{{$v}}" value="{{$i}}" {{if eq $i $.info.Status}} checked {{end}}>
                    {{end}}
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button  class="layui-btn" lay-filter="add" lay-submit="">
                    提交
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layer'],
        function() {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            //监听提交
            form.on('submit(add)',
                function(data) {
                    $.post('/admin/edit', data.field, function(ret) {
                        var icon = (ret.stat == 0) ? 5 : 6;  // 5：失败提示 6：成功提示
                        layer.msg(ret.msg, {icon: icon}, function() {
                            //关闭当前frame
                            xadmin.close();
                            // 可以对父窗口进行刷新
                            xadmin.father_reload();
                        });
                    });
                    return false;
                });

        });</script>
</body>

</html>