{{.LayoutContent}}
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    <span class="x-red">*</span>文章标题
                </label>
                <div class="layui-input-block">
                    <input type="text" id="title" name="title" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="content" class="layui-form-label">
                    <span class="x-red">*</span>文章内容
                </label>
                <div class="layui-input-block">
                    <textarea name="content" placeholder="请输入内容" class="layui-textarea" lay-verify="required"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="author" class="layui-form-label">
                    <span class="x-red">*</span>文章作者
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="author" name="author" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">文章标签</label>
                <div class="layui-input-inline">
                    <select name="tag_id" lay-verify="required">
                        <option value=""></option>
                        {{range .tagList}}
                            <option value="{{.Id}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>状态</label>
                <div class="layui-input-block">
                    {{range $i, $v := .statusMap}}
                        <input type="radio" name="status" lay-skin="primary" title="{{$v}}"  value="{{$i}}" checked="">
                    {{end}}
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button  class="layui-btn" lay-filter="add" lay-submit="">
                    增加
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layer'],
        function() {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            //自定义验证规则
            form.verify({
                title: function(value) {
                    if (value.length == 0) {
                        return '文章标题不能为空';
                    }
                },
                content:function(value){
                    if (value == "") {
                        return '文章内容不能为空';
                    }
                },
                author:function(value){
                    if (value == "") {
                        return '文章作者不能为空';
                    }
                },
                });

            //监听提交
            form.on('submit(add)',
                function(data) {
                    $.post('/article/add', data.field, function(ret) {
                        var icon = (ret.stat == 0) ? 5 : 6;  // 5：失败提示 6：成功提示
                        layer.msg(ret.msg, {icon: icon}, function() {
                            //关闭当前frame
                            xadmin.close();
                            // 可以对父窗口进行刷新
                            xadmin.father_reload();
                        });
                    });
                    return false;
                });

        });</script>
</body>

</html>