.m-style {
    position: relative;
    text-align: center;
    zoom: 1;
}

.m-style:before, .m-style:after {
    content: "";
    display: table;
}

.m-style:after {
    clear: both;
    overflow: hidden;
}

::selection {
    background: #000;
    color: #fff;
}

.m-style .next, .m-style .prev {
    font-family: simsun;
    font-size: 16px;
    font-weight: 700;
}

.m-style a {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    font-size: 14px;
}

.m-style {
    position: relative;
    text-align: center;
    zoom: 1;
}

.m-style .active {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #e91e63;
    color: #fff;
    font-size: 14px;
    border: 1px solid #e91e63;
}