<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="origin" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Go-Cms</title>
    <link rel="stylesheet" href="/static/css/home-common.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/home-custom.css" />
    <link id="mobile-style" media="only screen and (max-width: 767px)" type="text/css" rel="stylesheet" href="/static/css/home-custom-mobile.css" />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="no-navbar">
<div id="home">
    <div id="header">
        <div id="blogTitle">
            <!--done-->
            <h1>
                <a id="Header1_HeaderTitle" class="headermaintitle HeaderMainTitle" href="/home">{{$.profile.Nickname}}</a></h1>
            <h2>{{$.profile.Motto}}</h2></div>
        <!--end: blogTitle 博客的标题和副标题 -->
        <div id="navigator">
            <div class="blogStats">
                <span id="stats_post_count">随笔 - {{.total}}</span>
            </div>
        </div>
    </div>